* {
    box-sizing: border-box;
}

#layout {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

#leftspace{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #333;
    height: 100%;
    width: 25%;
}

#middle{
    height: 100vh;
    width: 50%;
}

#chessboard {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: repeat(8, 1fr);
    border: 2px solid #800d0d;
    aspect-ratio: 1;
}



.whiteplayer{
    height: 10%;
    width: 10%;
    align-self: flex-start;
}

.blackplayer{
    align-self: flex-end;
}

.square {
    width: 80px;
    height: 80px;
}

.dark {
    background-color: #769656;
    aspect-ratio: 1;
}

.light {
    background-color: #eeeed2;
    aspect-ratio: 1;
}

img {
    width: 100%;
    height: 100%;
    cursor: grab;
}

img:active {
    cursor: grabbing;
}
